.filter{
  display: flex;
  gap: 24px;
  &__select{
    display: flex;
    flex-direction: column;
    >span{
     color: var(--gray);
      margin-bottom: 4px;
    }
  }
  select{
    background: var(--white);
    border: 1px solid  var(--gray);
    outline: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    option{
      padding: 10px;
      cursor: pointer;
    }
  }

}
