.product{
  display: flex;
  flex-direction: column;
  gap:16px;
  margin-bottom: 24px;
  &__title_block{
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__add_btn{
    transition: 0.3s;
    border-radius: 50%;
    &:hover{
      box-shadow: 0 0 7px 0 var(--dark);
    }
    img{
      width: 50px;
    }
  }
}